.botao {
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 20px 0;
  cursor: pointer;
  border-radius: 5px;
}

.container { 
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-sizing: content-box;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #c1c1c1a0;
}

.menu { 
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  display: grid;
}

.body {
  background-color: #48c2ff;
}

.h2{
  text-align: center;
}